.hotel-container {
  width: 800px;
}

.hotel-card {
  display: flex;
  flex-direction: column;
  margin: 0 4px 20px;
}

.hotel-overview {
  display: flex;
  flex-direction: row;
}

.hotel-details {
  background-color: #fff;
  text-align: left;
  font-size: 1rem;
  padding: 10px;
  width: -webkit-fill-available;
}

.hotel-description {
  text-align: left;
  background-color: #fff;
  padding: 12px;
}

.hotel-image {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.see-more-button {
  position: absolute;
  padding-left: 12px;
  color: #17317f;
  font-size: 1rem;
  text-align: left;
  width: 280px;
  background-color: #fff;
  text-decoration: none;
  border: none;
}

.arrow {
  display: inline-block;
  padding: 0 4px;
  transform: rotate(90deg);
}

.hotel-guests {
  display: flex;
  flex-direction: row;
  padding-top: 12px;
}

.hotel-star {
  color: #fedc07;
  font-size: 1.5rem;
}

h1 {
  color: #17317f;
  font-size: 1.1rem;
  margin: 4px;
}

h3 {
  color: #666;
}

h4 {
  color: #17317f;
}

h3,
h4,
p {
  margin: 2px;
  font-size: 0.9rem;
}

.book-now-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  text-align: left;
  background-color: #fedc07;
  color: #17317f;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 700;
  min-height: 50px;
  width: 100%;
  margin-top: 12px;
  padding: 12px;
  text-decoration: none;
  border: none;
}

.book-now-text {
  font-size: 0.9rem;
}
